<div class="nav-container">
  <!-- BREADCRUMBS -->
  <mat-chip-list class="breadcrumbs">
    <mat-chip
      *ngFor="let breadcrumb of breadcrumbs"
      [routerLink]="breadcrumb.path"
    >
      <mat-icon> {{ breadcrumb.icon ?? "lens" }} </mat-icon>
      {{ breadcrumb.label | transloco }}
    </mat-chip>
  </mat-chip-list>

  <!-- SEARCH FORM -->
  <form class="search-form">
    <mat-form-field appearance="outline">
      <mat-label>Suchbegriff</mat-label>
      <input
        type="text"
        placeholder="z. B. LoadImage"
        aria-label="Search Term"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        (input)="updateSearchAutoFill()"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of searchAutoFillOptions"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- TOPICS -->
  <mat-list>
    <ng-container *ngFor="let topic of topics; let i = index">
      <mat-divider *ngIf="i > 0"></mat-divider>
      <div mat-subheader>{{ topic.label ?? "unknown" }}</div>
      <mat-list-item *ngFor="let section of topic.sections">
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <div>{{ section.label }}</div>
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
